<div>
    <span><a href="{{'#/topictype/'+subId+'/'+topicId+'/details'}}">题目</a></span>
    <span  class="menu1"><a href="{{'#/topictype/'+subId+'/'+topicId+'/answer'}}">答案</a></span>
</div>
<!--选择题答案显示-->
<div class="right_content">
    <div ng-if="topicId==1 || topicId==2">
        <ul ng-repeat="item in topicaaa"  ng-if="topicIndex==$index+1">
            <p>{{topicIndex}}、</p>
            <li ng-repeat="item1 in item.item">
                <p ng-if="item1.answer==1">
                    {{ASC($index)}}
                </p>
            </li>
        </ul>
        <div class="right_down" ng-controller="routerRightCtrl">
            <ul>
                <li ><a href="" ng-click="prev()" id="the1">上一页</a></li>
                <li class="toPage" id="li1"><a href="">{{topicIndex}}</a></li>
                <li class="toPage" id="li2"><a href="" ng-click="goPage()">{{topicIndex+1}}</a></li>
                <li class="toPage" id="li3"><a href="#">{{topicIndex+2}}</a></li>
                <li><a href="#">...</a></li>
                <li><input type="text" ng-model="goData"></li>
                <li><a href="#" ng-click="goTo()">跳转</a></li>
                <li><a href="" ng-click="next()">下一页</a></li>

            </ul>
        </div>

    </div>
    <!--问答题答案显示-->
    <div ng-if="topicId==3">
        <p ng-repeat="item in answers">
            {{$index+1+'：'+item.info}}
        </p>
        <div class="right_down">
            <ul>
                <li><a href="" ng-click="prev()">上一页</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><input type="text"></li>
                <li><a href="#">跳转</a></li>
                <li><a href="" ng-click="next()">下一页</a></li>
            </ul>
        </div>
    </div>
    <!--判断题答案显示-->
    <div ng-if="topicId==4">
        <p ng-repeat="item in recognizeds">{{$index+1+'：'+item.info}}</p>
        <div class="right_down">
            <ul>
                <li><a href="" ng-click="prev()">上一页</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><input type="text"></li>
                <li><a href="#">跳转</a></li>
                <li><a href="" ng-click="next()">下一页</a></li>
            </ul>
        </div>
    </div>
    <!--填空题答案显示-->
    <div ng-if="topicId==5">
        <p ng-repeat="item in space" >{{$index+1+'：'+item.space_info}}</p>
        <div class="right_down">
            <ul>
                <li><a href="" ng-click="prev()">上一页</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><input type="text"></li>
                <li><a href="#">跳转</a></li>
                <li><a href="" ng-click="next()">下一页</a></li>
            </ul>
        </div>
    </div>
</div>
